<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidbloodbank">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CurrentLocation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".MedicalHistoryCheck" />
        <activity android:name=".DonorMyProfile" />
        <activity android:name=".AcceptorMyProfile" />
        <activity android:name=".BloodBankAcceptor" />
        <activity android:name=".BloodBankDoner" />
        <activity android:name=".RegisterMedicalHistory" />
        <activity android:name=".AcceptorHome" />
        <activity android:name=".DonorHome" />
        <activity android:name=".LoginAcceptor" />
        <activity android:name=".LoginDonor" />
        <activity android:name=".RegisterAcceptor" />
        <activity android:name=".HomePage" />
        <activity android:name=".RegisterDonor" />
        <activity
            android:name=".LogoPage"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcceptorProfile"
            android:label="Acceptor Profile" />
        <activity
            android:name=".DonorProfile"
            android:label="Donor Profile" />
        <activity android:name=".SearchAcceptor" />
        <activity android:name=".ViewMedicalHistory" />
        <activity
            android:name=".MedicalHistory"
            android:label="Medical History" />
        <activity
            android:name=".MyProfile"
            android:label="My Profile" />
        <activity android:name=".BloodBank" />
        <activity android:name=".SearchDonor" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>